<div class="row">
  <div class="col-md-12">
    <accordion [isAnimated]="true">
      <accordion-group 
        *ngFor="let skill of skills; let i = index;"
        [heading]="skill?.field" 
        [isOpen]="i === 0"
        >
        <div class="row">
          <div class="col-md-4 mt-2" *ngFor="let technology of skill?.technologies">
            {{technology?.name}}
            <progressbar [value]="technology?.progress" type="success"></progressbar>
          </div>
        </div>
      </accordion-group>
    </accordion>
  </div>
</div>