<div class="row">
  <div class="col-md-8">
    <carousel [interval]="3000" *ngIf="imagesUrls; else loadingTmpl">
      <slide *ngFor="let imageUrl of imagesUrls">
        <img [src]="imageUrl" alt="slide" style="display: block; width: 100%;">
      </slide>
    </carousel>
  </div>

  <div class="col-md-4">
    <ng-container *ngIf="workDetails; else loadingTmpl">
      <div>
        <h5>Technologies used:</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let technology of workDetails.technologies">
            {{technology.technology_name}}
          </li>
        </ul>
      </div>
  
      <div class="mt-2">
        <h5>Status:</h5>
        <span class="text-primary">
          {{workDetails.status}}
        </span>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #loadingTmpl>
  Loading...
</ng-template>